*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
   
}

:root {
    font-size: 10px;
    --main-color: #d3ad7f;
    --black: #131313;

}



section{
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
    
}



.caixa-video{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
   
}

.caixa-video video{
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
}


.mascara {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;   
    background-color: rgba(0, 0, 0, 0.5); /* Adiciona um fundo semitransparente */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--black); 
    width: 100vw;
}

.header section{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding: 1.5rem 0;
    position: relative;
}

.header section a img{
    height:6rem;
}

.header section nav a{
    margin: 0.1rem;
    font-size: 1.8rem;
    color: #fff;
    padding: 0.8rem;
}


.header section nav a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
}


.caixa-principal {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.caixa-principal div {
    max-width: 60rem;
}

.caixa-principal div h3 {
    color:#fff ;
    font-size: 6rem;
    text-transform: uppercase;
}

.caixa-principal div p {
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1rem 0;
    line-height: 1.3;
}

.botao-link {
    background-color: var(--main-color);
    cursor: pointer;
    margin: 2rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    padding: 1rem 3rem;
    border: none;

}

.caixa-sobre h2 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.caixa-sobre .container{
    display: flex;
    align-items: center;
    background-color: var(--black);
    gap: 1.5rem;
    flex-wrap: wrap;
}

.caixa-sobre .container .img-sobre{
    flex: 1 1 45rem;
}

.caixa-sobre .container .img-sobre img{
    width: 100%;
}

.caixa-sobre .container .text-sobre{
    flex: 1 1 45rem;
    padding: 2rem;
}

.caixa-sobre .container .text-sobre h3{
    font-size: 3rem;
    color: #fff;
}

.caixa-sobre .container .text-sobre p{
    font-size: 1.5rem;
    color: #fff;
    line-height: 1.8;
    padding: 1.5rem 0;

}

/* Modal container */
.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centraliza os itens (h3 e iframe) horizontalmente */
    height: 100vh; /* Faz a modal ocupar toda a altura da tela */
    text-align: center;
    
}

/* Estilo do título (h3) */
.modal h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;
    padding-bottom: 3.5rem;
}

/* Estilo do iframe (google maps) */
.modal iframe {
    width: 80%; /* Responsivo: faz o iframe ocupar 80% da largura da tela */
    max-width: 800px; /* Limita a largura máxima do iframe */
    height: 450px; /* Define a altura do iframe */
    border: 0; /* Remove a borda do iframe */
    margin-top: 20px; /* Dá um pequeno espaço entre o título e o iframe */
}
